<p id="notice"><%= notice %></p>

<h2 id="notice">Links</h2>
<table class="table-wrap">
  

  <tbody>
    <% @links.each do |link| %>
      <tr class="post-wrap" id="post-wrap">
        <td class="post-title" id="post-title"><%= link.title %></td>
        <td class="post-body" id="post-body"><%= link_to link.url, "http://#{link.url}" %></td>
        <% if link.user == current_user %> <!-- only the logged in user is able to edit and delete his own links-->
          <td><%= link_to 'Edit', edit_link_path(link) %></td>
          <td><%= link_to 'Show', link_path(link) %></td>
          <td><%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>





<!-- <%= link_to 'New Link', new_link_path %> -->
