<div class="link-wrap">

  <p id="notice"><%= notice %></p>

  <p id="link_title">
    <strong>Title:</strong>
    <div class="link-title"><%= @link.title %>
  </p>

  <p id="link_url">
    <strong>Url:</strong>
    <div class ="link-url"><%= @link.url %>
  </p>
  <div class="link-paths">
    <%= link_to 'Edit', edit_link_path(@link) %> |
    <%= link_to 'Back', links_path %>
  </div>

</div>
