
<%= form_for @post, remote: true do |f| %>

  <div class="form-wrap">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Type your title here" %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.rich_text_area :body, placeholder: "Type your content here" %>
    </div>
    
    <div class="field">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :name %>
    </div>
    
  <!--
    # <div class="field">
    #   <%= f.label :user_id %>
    #   <%= f.collection_select :user_id, User.all, :id, :username %>
    # </div>

    # <div class="field">
    #   <%= f.file_field :image %><br>
    # </div> -->

    <div>
      <%= f.submit %>
    </div>
  </div>

  
  

<% end %>

