<h1><%= @post.title %></h1>
<p>
  <%= @post.body %>
</p>
<!-- Likes and dislikes for every single post -->
<%= render 'vote'%>


<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }  %>



	
<h2><%= @post.comments.count %> Comments</h2>
<%= render @post.comments %>

<hr>

<h3>Leave a reply</h3>
<%= render 'comments/form' %>
